<div class="container">
<div class="bd">
<h1>KHÁCH HÀNG DOANH NGHIỆP</h1>
<div class="top">
    <div class="content">
        <h4>SHOWROOM Hà Nội</h4>
        <p>Mở cửa từ 8h00 - 19h00 T2 đến T7</p>
        <p>Mr.Nguyễn Xuân Hà</p>
        <p>zalo: 0969 393 232</p>
        <p>Email: Xuanha123@linhkienpc.vn</p>
        
    </div>
    <div class="content">
        <h4>SHOWROOM TP Hồ Chí Minh</h4>
        <p>Mở cửa từ 8h00 - 19h00 T2 đến T7</p>
        <p>Mr.Trương Thế Tùng</p>
        <p>zalo: 0919 393 232</p>
        <p>Email: thetung123@linhkienpc.vn</p>
    </div>
</div>>
</div>
</div>
<div class="container">
<div class="bd">
    <h1 class="cn">KHÁCH HÀNG CÁ NHÂN</h1>
    <div class="top">
        <div class="content">
            <h4>SHOWROOM Hà Nội</h4>
            <p>Mở cửa từ 8h00 - 19h00 T2 đến T7</p>
            <p>Mr.Phạm Minh Kim</p>
            <p>zalo: 0915 654 7750</p>
            <p>Email: minhkim@linhkienpc.vn</p>
            
        </div>
        <div class="content">
            <h4>SHOWROOM TP Hồ Chí Minh</h4>
            <p>Mở cửa từ 8h00 - 19h00 T2 đến T7</p>
            <p>Mr.Đàm Vĩnh Thương</p>
            <p>zalo: 0921 393 232</p>
            <p>Email: vinhthuong@linhkienpc.vn</p>
        </div>
    </div>>
    </div>
</div>
<div class="container">
    <div class="bd">
        <h1 id="dl">KHÁCH HÀNG ĐẠI LÝ</h1>
        <div class="top">
            <div class="content">
                <h4>SHOWROOM Hà Nội</h4>
                <p>Mở cửa từ 8h00 - 19h00 T2 đến T7</p>
                <p>Mr.Huỳnh Duy Duẫn</p>
                <p>zalo: 0915 654 7750</p>
                <p>Email: duyduan@linhkienpc.vn</p>
                
            </div>
            <div class="content">
                <h4>SHOWROOM TP Hồ Chí Minh</h4>
                <p>Mở cửa từ 8h00 - 19h00 T2 đến T7</p>
                <p>Mr.Phùng Duy Khiêm</p>
                <p>zalo: 0951 393 232</p>
                <p>Email: duykhiem@linhkienpc.vn</p>
            </div>
        </div>>
        </div>
    </div>
    <div class="container">
        <div class="bd">
            <h1 id="DD">KHÁCH HÀNG DỰ ÁN</h1>
            <div class="top">
                <div class="content">
                    <h4>SHOWROOM Hà Nội</h4>
                    <p>Mở cửa từ 8h00 - 19h00 T2 đến T7</p>
                    <p>Mr.ÔNG BÀ TA</p>
                    <p>zalo: 0915 654 7750</p>
                    <p>Email: bata@linhkienpc.vn</p>
                    
                </div>
                <div class="content">
                    <h4>SHOWROOM TP Hồ Chí Minh</h4>
                    <p>Mở cửa từ 8h00 - 19h00 T2 đến T7</p>
                    <p>Mr.ÔNG CHÚ TA</p>
                    <p>zalo: 0951 393 232</p>
                    <p>Email: chuta@linhkienpc.vn</p>
                </div>
            </div>>
            </div>
        </div>