<section class="_1khoi sapphathanh mt-4">
    <div class="container">
        <div class="noidung bg-white" style=" width: 100%;">
            <div class="row">
                <!--header-->
                <div class="col-12 d-flex justify-content-between align-items-center pb-2 bg-light">
                    <h2 class="header text-uppercase" style="font-weight: 600; color:#CF111A;margin-top: 17px;">KHUYẾN MÃI / SẢN PHẨM XẢ HÀNG</h2>
                    <a href="#" class="btn btn-warning btn-sm text-white">Xem tất cả</a>
                </div>
            </div>
            <div class="khoisanpham">
                <!-- 1 san pham -->
                <div class="card">
                    <a href="#" class="motsanpham" style="text-decoration: none; color: black;"
                        data-toggle="tooltip" data-placement="bottom" title="Ngoại Giao Của Chính Quyền Sài Gòn">
                        <img class="card-img-top anh" src="./assets/SSD.jpg"
                            alt="ngoai-giao-cua-chinh-quyen-sai-gon" style="height: 215px;">
                        <div class="card-body noidungsp mt-3">
                            <h3 class="card-title ten">Ổ Cứng SSD SamSung 250GB SATA 2.5 inch</h3>
                            <div class="gia d-flex align-items-baseline">
                              <div class="giamoi">1.650.200 ₫</div>
                              <div class="giacu text-muted">1.200.000 ₫</div>
                              <div class="sale">-10%</div>
                          </div>
                            
                            <div class="danhgia">
                                <ul class="d-flex" style="list-style: none;">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><span class="text-muted">0 nhận xét</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#" class="motsanpham" style="text-decoration: none; color: black;"
                        data-toggle="tooltip" data-placement="bottom" title="Đường Mây Trên Đất Hoa">
                        <img class="card-img-top anh" src="./assets/ssd1.png"
                            alt="duong-may-tren-dat-hoa">
                        <div class="card-body noidungsp mt-3">
                            <h3 class="card-title ten">SSD SamSung 870 Qvo 8TB</h3>
                            <div class="gia d-flex align-items-baseline">
                              <div class="giamoi">30.000.000 ₫</div>
                              <div class="giacu text-muted">25.000.000 ₫</div>
                              <div class="sale">-10%</div>
                          </div>
                            <div class="danhgia">
                                <ul class="d-flex" style="list-style: none;">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><span class="text-muted">0 nhận xét</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#" class="motsanpham" style="text-decoration: none; color: black;"
                        data-toggle="tooltip" data-placement="bottom" title="Muôn Kiếp Nhân Sinh">
                        <img class="card-img-top anh" src="./assets/ssd1.png"
                            alt="muon-kiep-nhan-sinh">
                        <div class="card-body noidungsp mt-3">
                            <h3 class="card-title ten">SSD SamSung 870 Qvo 8TB</h3>
                            <div class="gia d-flex align-items-baseline">
                              <div class="giamoi">11.311.200 ₫</div>
                              <div class="giacu text-muted">11.000.000 ₫</div>
                              <div class="sale">-10%</div>
                          </div>
                            <div class="danhgia">
                                <ul class="d-flex" style="list-style: none;">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><span class="text-muted">0 nhận xét</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#" class="motsanpham" style="text-decoration: none; color: black;"
                        data-toggle="tooltip" data-placement="bottom" title="Đường Mây Trong Cõi Mộng">
                        <img class="card-img-top anh" src="./assets/SSD.jpg"
                            alt="duong-may-trong-coi-mong.jpg" style="height: 215px;">
                        <div class="card-body noidungsp mt-3">
                            <h3 class="card-title ten">Ổ Cứng SSD SamSung 512GB SATA 2.5 inch</h3>
                            <small class="tacgia text-muted">Corsair</small>

                            <div class="gia d-flex align-items-baseline">
                              <div class="giamoi">2.511.200 ₫</div>
                              <div class="giacu text-muted">2.200.000 ₫</div>
                              <div class="sale">-5%</div>
                          </div>                                
                          <div class="danhgia">
                                <ul class="d-flex" style="list-style: none;">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><span class="text-muted">0 nhận xét</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="_1khoi sapphathanh mt-4">
    <div class="container">
        <div class="noidung bg-white" style=" width: 100%;">
         
            <div class="khoisanpham">
                <!-- 1 san pham -->
                <div class="card">
                    <a href="#" class="motsanpham" style="text-decoration: none; color: black;"
                        data-toggle="tooltip" data-placement="bottom" title="Ngoại Giao Của Chính Quyền Sài Gòn">
                        <img class="card-img-top anh" src="./assets/ram.jpg"
                            alt="ngoai-giao-cua-chinh-quyen-sai-gon">
                        <div class="card-body noidungsp mt-3">
                            <h3 class="card-title ten">RAM Kingmax Zeus DDR4 8Gb 2666 (Black)</h3>
                            <div class="gia d-flex align-items-baseline">
                              <div class="giamoi">1.211.200 ₫</div>
                              <div class="giacu text-muted">1.139.000 ₫</div>
                              <div class="sale">-0,2%</div>
                          </div>
                            
                            <div class="danhgia">
                                <ul class="d-flex" style="list-style: none;">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><span class="text-muted">0 nhận xét</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#" class="motsanpham" style="text-decoration: none; color: black;"
                        data-toggle="tooltip" data-placement="bottom" title="Đường Mây Trên Đất Hoa">
                        <img class="card-img-top anh" src="./assets/ram1.jpg"
                            alt="duong-may-tren-dat-hoa" style="width: 205px;">
                        <div class="card-body noidungsp mt-3">
                            <h3 class="card-title ten">RAM Kingmax 16Gb DDR4 2666 Non-ECC</h3>
                            <div class="gia d-flex align-items-baseline">
                              <div class="giamoi">1.990.000 ₫</div>
                              <div class="giacu text-muted">1.800.000 ₫</div>
                              <div class="sale">-0,2%</div>
                          </div>
                            <div class="danhgia">
                                <ul class="d-flex" style="list-style: none;">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><span class="text-muted">0 nhận xét</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#" class="motsanpham" style="text-decoration: none; color: black;"
                        data-toggle="tooltip" data-placement="bottom" title="Muôn Kiếp Nhân Sinh">
                        <img class="card-img-top anh" src="./assets/ram.jpg"
                            alt="muon-kiep-nhan-sinh">
                        <div class="card-body noidungsp mt-3">
                            <h3 class="card-title ten">RAM Kingmax 16Gb DDR4-2666- Zeus Tản Không LED</h3>
                            <div class="gia d-flex align-items-baseline">
                              <div class="giamoi">2.050.000 ₫</div>
                              <div class="giacu text-muted">1.9000.000 ₫</div>
                              <div class="sale">-0,2%</div>
                          </div>
                            <div class="danhgia">
                                <ul class="d-flex" style="list-style: none;">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><span class="text-muted">0 nhận xét</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#" class="motsanpham" style="text-decoration: none; color: black;"
                        data-toggle="tooltip" data-placement="bottom" title="Đường Mây Trong Cõi Mộng">
                        <img class="card-img-top anh" src="./assets/ram.jpg"
                            alt="duong-may-trong-coi-mong.jpg">
                        <div class="card-body noidungsp mt-3">
                            <h3 class="card-title ten">RAM Kingmax Zeus 16Gb DDR4-3200 Tản Không LED</h3>
                            <div class="gia d-flex align-items-baseline">
                              <div class="giamoi">2.311.200 ₫</div>
                              <div class="giacu text-muted">2.159.000 ₫</div>
                              <div class="sale">-0,2%</div>
                          </div>                                
                          <div class="danhgia">
                                <ul class="d-flex" style="list-style: none;">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><span class="text-muted">0 nhận xét</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="_1khoi sapphathanh mt-4">
    <div class="container">
        <div class="noidung bg-white" style=" width: 100%;">
         
            <div class="khoisanpham">
                <!-- 1 san pham -->
                <div class="card">
                    <a href="#" class="motsanpham" style="text-decoration: none; color: black;"
                        data-toggle="tooltip" data-placement="bottom" title="Ngoại Giao Của Chính Quyền Sài Gòn">
                        <img class="card-img-top anh" src="./assets/case.png"
                            alt="ngoai-giao-cua-chinh-quyen-sai-gon" style="width: 227px;">
                        <div class="card-body noidungsp mt-3">
                            <h3 class="card-title ten">Vỏ máy tính CORSAIR 1000D</h3>
                            <div class="gia d-flex align-items-baseline">
                              <div class="giamoi">12.211.200 ₫</div>
                              <div class="giacu text-muted">11.139.000 ₫</div>
                              <div class="sale">-12%</div>
                          </div>
                            
                            <div class="danhgia">
                                <ul class="d-flex" style="list-style: none;">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><span class="text-muted">0 nhận xét</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#" class="motsanpham" style="text-decoration: none; color: black;"
                        data-toggle="tooltip" data-placement="bottom" title="Đường Mây Trên Đất Hoa">
                        <img class="card-img-top anh" src="./assets/case1.png"
                            alt="duong-may-tren-dat-hoa" style="width: 255px;">
                        <div class="card-body noidungsp mt-3">
                            <h3 class="card-title ten">Vỏ máy tính CORSAIR 500D RGB SE</h3>
                            <div class="gia d-flex align-items-baseline">
                              <div class="giamoi">6.990.000 ₫</div>
                              <div class="giacu text-muted">6.800.000 ₫</div>
                              <div class="sale">-3%</div>
                          </div>
                            <div class="danhgia">
                                <ul class="d-flex" style="list-style: none;">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><span class="text-muted">0 nhận xét</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#" class="motsanpham" style="text-decoration: none; color: black;"
                        data-toggle="tooltip" data-placement="bottom" title="Muôn Kiếp Nhân Sinh">
                        <img class="card-img-top anh" src="./assets/case2.png"
                            alt="muon-kiep-nhan-sinh">
                        <div class="card-body noidungsp mt-3">
                            <h3 class="card-title ten">Vỏ máy tính CORSAIR 275R - ĐEN
                            </h3>
                            <div class="gia d-flex align-items-baseline">
                              <div class="giamoi">2.050.000 ₫</div>
                              <div class="giacu text-muted">1.890.000 ₫</div>
                              <div class="sale">-0,2%</div>
                          </div>
                            <div class="danhgia">
                                <ul class="d-flex" style="list-style: none;">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><span class="text-muted">0 nhận xét</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#" class="motsanpham" style="text-decoration:  none; color: black;"
                        data-toggle="tooltip" data-placement="bottom" title="Đường Mây Trong Cõi Mộng">
                        <img class="card-img-top anh" src="./assets/case3.png"
                            alt="duong-may-trong-coi-mong.jpg">
                        <div class="card-body noidungsp mt-3">
                            <h3 class="card-title ten">Vỏ máy tính CORSAIR 275R - TRẮNG
                            </h3>
                            <div class="gia d-flex align-items-baseline">
                              <div class="giamoi">2.311.200 ₫</div>
                              <div class="giacu text-muted">1.899.000 ₫</div>
                              <div class="sale">-10%</div>
                          </div>                                
                          <div class="danhgia">
                                <ul class="d-flex" style="list-style: none;">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><span class="text-muted">0 nhận xét</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="_1khoi sapphathanh mt-4">
    <div class="container">
        <div class="noidung bg-white" style=" width: 100%;">
         
            <div class="khoisanpham">
                <!-- 1 san pham -->
                <div class="card">
                    <a href="#" class="motsanpham" style="text-decoration: none; color: black;"
                        data-toggle="tooltip" data-placement="bottom" title="Ngoại Giao Của Chính Quyền Sài Gòn">
                        <img class="card-img-top anh" src="./assets/nguon.png"
                            alt="ngoai-giao-cua-chinh-quyen-sai-gon" style="width: 246px">
                        <div class="card-body noidungsp mt-3">
                            <h3 class="card-title ten">Nguồn máy tính CORSAIR CV450 - 80 PLUS BRONZE</h3>
                            <div class="gia d-flex align-items-baseline">
                              <div class="giamoi">1.211.200 ₫</div>
                              <div class="giacu text-muted">970.000 ₫</div>
                              <div class="sale">-12%</div>
                          </div>
                            
                            <div class="danhgia">
                                <ul class="d-flex" style="list-style: none;">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><span class="text-muted">0 nhận xét</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#" class="motsanpham" style="text-decoration: none; color: black;"
                        data-toggle="tooltip" data-placement="bottom" title="Đường Mây Trên Đất Hoa">
                        <img class="card-img-top anh" src="./assets/nguon1.png"
                            alt="duong-may-tren-dat-hoa" style="width: 246px">
                        <div class="card-body noidungsp mt-3">
                            <h3 class="card-title ten">Nguồn máy tính CORSAIR CV550 - 80 PLUS BRONZEE</h3>
                            <div class="gia d-flex align-items-baseline">
                              <div class="giamoi">2.990.000 ₫</div>
                              <div class="giacu text-muted">1.200.000 ₫</div>
                              <div class="sale">-45%</div>
                          </div>
                            <div class="danhgia">
                                <ul class="d-flex" style="list-style: none;">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><span class="text-muted">0 nhận xét</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#" class="motsanpham" style="text-decoration: none; color: black;"
                        data-toggle="tooltip" data-placement="bottom" title="Muôn Kiếp Nhân Sinh">
                        <img class="card-img-top anh" src="./assets/nguon2.png"
                            alt="muon-kiep-nhan-sinh" style="width: 246px">
                        <div class="card-body noidungsp mt-3">
                            <h3 class="card-title ten">Nguồn máy tính CORSAIR CV650 - 80 PLUS BRONZE
                            </h3>
                            <div class="gia d-flex align-items-baseline">
                              <div class="giamoi">2.050.000 ₫</div>
                              <div class="giacu text-muted">1.490.000 ₫</div>
                              <div class="sale">-20%</div>
                          </div>
                            <div class="danhgia">
                                <ul class="d-flex" style="list-style: none;">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><span class="text-muted">0 nhận xét</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card">
                    <a href="#" class="motsanpham" style="text-decoration:  none; color: black;"
                        data-toggle="tooltip" data-placement="bottom" title="Đường Mây Trong Cõi Mộng">
                        <img class="card-img-top anh" src="./assets/nguon3.png"
                            alt="duong-may-trong-coi-mong.jpg">
                        <div class="card-body noidungsp mt-3">
                            <h3 class="card-title ten">Nguồn máy tính CORSAIR CX550 - 80 PLUS BRONZE
                            </h3>
                            <div class="gia d-flex align-items-baseline">
                              <div class="giamoi">2.311.200 ₫</div>
                              <div class="giacu text-muted">1.499.000 ₫</div>
                              <div class="sale">-50%</div>
                          </div>                                
                          <div class="danhgia">
                                <ul class="d-flex" style="list-style: none;">
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><span class="text-muted">0 nhận xét</span></li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>